html {
    scroll-behavior: smooth;
}

#navbar {
    overflow: hidden;
    background-color: #db1ca8;
}


#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.parallaxResort {
    background: url('./media/thailandResort.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

