html {
    scroll-behavior: smooth;
}

div{
    display: block;
}

header {
    background-image: url('./media/banner.jpg')
}

body {
    font-weight: 400;
    line-height: 1.5;
}


main {
}

.text-align-center{
    text-align: center;
}

#content {
    background-color: #fff;
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
}

#navbar {
    overflow: hidden;
    background-color: #dab487;
    color: black;
    z-index:9999;
}


#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .main {
    padding-top: 60px;
}

.parallaxbanner {
    background: url('./media/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.story{
    font-size: 80%;
    padding-bottom: 250px;
}

/* Slideshow container */
.slideshow-container {
  width: 1000px;
  height: 500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {
    display: none;
    height:500px;
    width:1000px;
}
img {vertical-align: middle;}

